@font-face {
    font-family: 'neoretro';
    src: url('../fonts/neoretro.eot'); /* IE9 Compat Modes */
    src: url('../fonts/neoretro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/neoretro.woff') format('woff'), /* Modern Browsers */
    url('../fonts/neoretro.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/neoretro.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
  	font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway.eot'); /* IE9 Compat Modes */
    src: url('../fonts/raleway.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'chalkOne';
	src: url('../fonts/grutchShaded.eot'); /* IE9 Compat Modes */
    src: url('../fonts/grutchShaded.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/grutchShaded.woff') format('woff'), /* Modern Browsers */
    url('../fonts/grutchShaded.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/grutchShaded.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
  	font-style: normal;

}
@font-face {
	font-family: 'urban';
	src: url('../fonts/Urban.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Urban.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Urban.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Urban.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Urban.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
  	font-style: normal;

}

@font-face {
	font-family: 'sketchy';
	src: url('../fonts/Sketchy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Sketchy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Sketchy.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Sketchy.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Sketchy.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
  	font-style: normal;

}